{% extends "discussify/layout.html" %}
{% block content %}
<div class="container">
    <h4>New Post</h4>
    <form method="post" id="postForm">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.author.id_for_label }}" class="form-label">Author</label>
            {{ form.author }}
        </div>
        <div class="mb-3">
            <label for="{{ form.title.id_for_label }}" class="form-label">Title</label>
            {{ form.title }}
        </div>
        <div class="mb-3">
            <label for="{{ form.content.id_for_label }}" class="form-label">Message</label>
            {{ form.content }}
        </div>
        <hr class="mb-4" />
        <div class="pt-5">
            <button type="submit" class="btn btn-primary pe-3" id="postButton">
                Post Message
            </button>
            <a href="{% url 'post_list' %}" class="btn btn-secondary pe-3" id="backButton">
                Back to All Posts
            </a>
        </div>
    </form>
</div>

{% endblock %}